.percent-per-container {
    /* background-color: red; */
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    width:22.8rem;
    min-height: 20.6rem;
    box-shadow: 0 0 4px -2px black;
    border-radius: 10%;
}

.percent-per-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
}

.percent-per-title {
    margin: 0;
    display: inline-block;
    color: black;
}

@media (max-width: 768px) {
    .percent-per-container {
        width: 80vw;
        max-width: 22.8rem;
        padding: 0.8rem 1rem;
        min-height: auto;
    }
    
    .percent-per-title {
        font-size: 1.1rem;
    }
}

